@import url("/home/kdrik/.cache/wal/colors-waybar.css");



* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  border-bottom: 0px solid;
  background: transparent;
}

#workspaces button {
  padding: 0 7px;
  color: #000000;
}

#workspaces button.active {
  color: #000000;
}

#workspaces button.urgent {
  color: #000000;
}

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 50px;
  background: linear-gradient(180deg, @color8, @color3 80%);
  border: 2px solid #000000
}

#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-wall,
#custom-power,
#custom-gamemode,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0 10px;
  color: #000000;
  border-radius: 50px;
  background: linear-gradient(180deg, @color8, @color3 80%);
  border: 1.5px solid #000000
}

#clock {
  color: #000000;
  background: linear-gradient(180deg, @color8, @color3 80%);
  border-radius: 25px;
  padding: 5px 10px
}

#pulseaudio,
#bluetooth,
#network,
#custom-wall,
#custom-spotify,
#mpd {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
  background: linear-gradient(180deg, @color8, @color3 80%)
}

#battery.critical:not(.charging) {
  color: #000000;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #000000;
  }
}

label:focus {
  background-color: transparent;
}


#custom-spotify {
  background: linear-gradient(180deg, @color7, @color3 80%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  text-shadow: 0px 0px 8px #000000
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: transparent;
}

#idle_inhibitor {
  background-color: transparent;
}


