@import url("/home/kdrikfun/.cache/wal/colors-waybar.css");



* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  border-bottom: 0px solid #ffffff;
  background: transparent;
  transition-property: none;
  transition-duration: 0s;
}

#workspaces button {
  padding: 0 5px;
  color: @color4;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused,
#workspaces button.active {
  color: #000000;
}

#workspaces button.urgent {
  background-color: #ffffff;
  color: #000000;
}

#window,
#workspaces {
  margin: 0 4px;
  border-radius: 50px;
  background-color: @color4;
  border: 2px solid #000000;
}

#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#custom-wall,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0 10px;
  color: #000000;
  border-radius: 50px;
  background-color: @color4;
  border: 1.5px solid #000000;
}

#clock {
  color: #000000;
  background-color: @color4;
  border-radius: 25px;
  padding: 5px 10px;
}

#pulseaudio,
#bluetooth,
#network,
#custom-media,
#custom-wall,
#custom-spotify,
#mpd {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50px;
}

#battery.critical:not(.charging) {
  color: #000000;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #000000;
  }
}

label:focus {
  background-color: transparent;
}

#custom-media.custom-spotify,
#custom-media.custom-vlc {
  background: rgb(172,172,172);
  background: linear-gradient(180deg, rgba(110,110,110,1) 0%, rgba(1,1,66,1) 72%);
  margin: 2px 0 0 5px;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  text-shadow: 0px 0px 5px #000000;
  font-weight: bold;
  color: #444444;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: none;
}

#custom-spotify {
  background: linear-gradient(180deg, @color3 72%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  border: none;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: transparent;
}

#idle_inhibitor {
  background-color: transparent;
}

#keyboard-state {
  background: transparent;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
}

#keyboard-state > label.locked {
  background: transparent;
}

#custom-wall {
  background: transparent;
  background-color: @color4;
  border-radius: 25px;
}
